ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
}
li{
    display: block;
    color: black;
    padding: 14px 16px;
    background-color: lightgreen;
    text-align: center;
    text-decoration: none;
} 
h3{
    display: block;
    color: black;
    padding: 14px 16px;
    background-color: aliceblue;
    text-align: center;
    text-decoration: none;
}
h2{
    display: block;
    color: black;
    padding: 14px 16px;
    background-color: beige;
    text-align: center;
    text-decoration: none;
}
h1{
    color: lightskyblue;
}

form{
    border: 4px solid grey;
}

.flex-container{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    background-color: white;
    justify-content: center;
}

input[type=email], input[type=text], input[type=submit]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    text-align: center;
    border: 1px solid burlywood;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: burlywood;
    color:black;
    border:none;
    opacity: 0.8;
}